html {overflow-x: hidden;}

body {background-color: #fbfbfb; background-image: url("http://unboundformac.s3.amazonaws.com/img/bgtexture.jpg"); font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, 'Times New Roman', serif; font-size: 18pt;  line-height: 150%; overflow-x: hidden; min-width: 380px;}

li { line-height: 150%;}

.narrowcontainer {width: 900px; margin: auto;}

@media (max-width: 900px) {

	.narrowcontainer {width: auto;}
}

.unboundicon {width: 70px; height: 70px; margin-left: -20px; margin-top: 0px; margin-bottom: 10px; }

h1 { margin-bottom: 20px; margin-top: 20px;}
h1, h2 {font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, serif; font-size: 28pt; color: #444; font-style: italic; font-weight: normal; color: black; text-align: center; padding-bottom: 0px; line-height: 150%;}
p {font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, serif; font-size: 18pt; line-height: 150%; color: #444;}

h1 a {color: black;}
h2 a {color: black;}

h3 {text-align: center; color: black; font-style: italic; font-weight: normal;}

.linkarrow {font-style: normal; font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, serif; font-size: .6em; font-size: .6em;}

.videolink { display: block; width: 178px; height: 31px; background-image: url("http://unboundformac.s3.amazonaws.com/img/play-video.jpg"); background-size: 198px 45px; padding: 7px 18px; font-size: 17pt; background-repeat: no-repeat; text-align: left; margin: 35px auto 0px auto; font-style: italic;}
.videolink:hover {text-decoration: none; color: black; cursor: pointer;}

video {margin-bottom: -13px;}


.socialbuttons {margin: 20px auto 10px auto; padding-left: 30px;}




ul.topnav {list-style-type: none; text-align: left; margin-top: 5px; float: right; font-size: 13px; line-height: 18px;}

ul.topnav a {color: #666;}

ul.topnav a:after { content: " →"; }



ul.topnav li {font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, serif;  padding: 3px 0px;}

ul.topnav li.active {display: none;}

.single ul.topnav li.active {display: block;}

.centered {text-align: center;}

/*.firstrow p {font-size: 24pt; line-height: 123%}*/
.firstrow {padding-bottom: 10px; margin-top: 80px; position: relative; /*margin-bottom: -78px;*/}


.mac-bezel {display: block; background: url("http://unboundformac.s3.amazonaws.com/img/macbook-bezel.png") no-repeat top center; margin: 0 auto 0 auto; width: 450px; height: 274px; text-align: center;  background-size: 100% 100%;}
.mac-bezel img { width: 75.5%; height: auto; margin-top: 4%;}

.detail {width: 300px; height: auto;}


@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {

.mac-bezel {background-image: url("http://unboundformac.s3.amazonaws.com/img/macbook-bezel@2x.png"); background-size: 100% 100%;}

}

@media (max-width: 480px) {
	.mac-bezel {width: 320px; height: 195px;}
}


.appstorelink {margin-bottom: 30px;}
.appstorelink img {margin-top: 15px;}

.blurrybackground .appstorelink  {margin-bottom: 30px;}


#ipadsitelink {margin: 15px 0px; font-size: 0.7em;}


.icon {width: 55px; height: auto; margin-top: -10px; margin-right: 10px;}
.alignright .icon {width: 55px; height: auto; margin-top: -10px; margin-right: 0px; margin-left: 10px;}


.funicon {margin-top: 20px; margin-bottom: 15px;}


.left-half-image {width: 460px; min-width: 460px; height: auto; float: right; margin-right: -245px; margin-left: -70px;}
.right-half-image {width: 460px; min-width: 460px; height: auto; float: left; margin-left: -245px; margin-right: -70px;}

.left-half-column {margin-right: 160px; padding-top: 50px; text-align: right;}
.right-half-column {margin-left: 160px; padding-top: 130px;}

.left-half-column p, .right-half-column p {margin-bottom: 30px; margin-top: 10px;}

.macholder {position: relative; max-width: 500px; height: 350px; margin: auto; }


#dropbox-photo-macbook {background: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-macbook.png"); background-position: center bottom; background-repeat: no-repeat; background-size: 100% auto;width: 100%; height: 350px; position: relative; bottom: 60px; position: absolute;}

#dropbox-photo-ipad {background: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-ipad.png"); background-position: center bottom; background-repeat: no-repeat; background-size: 100% auto; width: 50%; height: 300px; position: absolute; bottom: 45px; right: 5%; position: absolute;}

#dropbox-photo-iphone {background: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-iphone.png"); background-position: center bottom; background-repeat: no-repeat; background-size: 100% auto; width: 17%; height: 300px; position: absolute; bottom: 48px; right: 45%; position: absolute;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {

#dropbox-photo-macbook {background-image: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-macbook@2x.png"); }
#dropbox-photo-ipad {background-image: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-ipad@2x.png"); }
#dropbox-photo-iphone {background-image: url("http://unboundformac.s3.amazonaws.com/img/dropbox-photo-iphone@2x.png"); }

}


@media (min-width: 768px) { 

	#blurrybackgroundimg {
	    background: url("img/blurbg2.jpg") center top fixed no-repeat;
	    width: 100%; 
	    height: 100%; 
	    background-position-y: -100px;
	    position: fixed; 
	    z-index: -1;
	}
	
	.dropshadowrow.aboveblurry {	margin-top: -78px;}
	
	.texturedbg {background-color: #fbfbfb; background-image: url("http://unboundformac.s3.amazonaws.com/img/bgtexture.jpg"); width: 100%;}

	.blurrybackground {width: 100%; /*background: #000000 url("http://unboundformac.s3.amazonaws.com/img/blurbg.jpg") center top fixed no-repeat; background-attachment: fixed;*/  padding-bottom: 78px; overflow: hidden;}
	.blurrybackground h1 {color: white; text-shadow: 1px 1px 5px black; letter-spacing: 0.05em; margin-bottom: -5px; font-size: 2.1em;}
	.blurrybackground p {color: white; text-shadow: 1px 1px 5px black;}
	.blurrybackground a {color: #bce8ff;}
	
	
	
	
	.white-bezel {margin: 0 auto -88px auto; padding: 94px 0px 15px 0px; text-align: center; }
	
	
	.right-half-image {display: none;}
	
	#ipadsitelink a {color: white; text-decoration: underline;}
	
	.alignright h3, .alignright p {text-align: right;}
	.alignleft h3, .alignleft p {text-align: left;}
	
	.spacetop {padding-top: 20px;}
	
	.row {position: relative;}
	.bottom {margin-top: 20%;}
	
	.macholder{margin-bottom: -60px;}
	
	
}




.seperator {border-top: 1px solid #ccc; margin: 40px 10px 40px 10px; height: 1px;}


.screenshotthumbs {margin: 0px; text-align: center;}
.screenshotthumbs img {width: 150px; margin: 15px; border: 5px solid white; display: inline;
	
	box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
	
}

.screenshotthumbs img:hover {width: 160px; margin: 10px;}


.featurelist {font-size: 0.8em; margin-top: 30px;}
.featurelist h2 {text-align: left; font-size: 1.4em; margin-bottom: 10px;}
.featurelist h2 img {margin: -15px 10px 0 0;}
.featurelist ul {margin-left: 65px;}

.featurelink {color: black; font-style: italic; font-size: 0.8em; margin-top: 30px;}



.quote {}
.byline {display:block; text-align: right; font-size: .8em; color: #666; margin: 15px;}

.dropshadowrow {

	background-image: url("http://unboundformac.s3.amazonaws.com/img/drop-shadow-bg.png"); 
	background-size: 100% 150px;
	height: 150px; 
	
}
.dropshadow-corner {text-align: center;}
.dropshadow-corner img {width: 150px; height: auto;}

.narrowcontainer .dropshadowrow {
	background-image: url("http://unboundformac.s3.amazonaws.com/img/drop-shadow-bg.png"); 
	background-size: 100% 50px;
	height: 50px; 
	
}

.reverseshadow {
	
	-webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
	
}

.narrowcontainer .dropshadow-corner img {height: 50px; width: auto;}

.pixiterow p {font-size: 24pt; line-height: 123%}
.pixiterow {margin-bottom: 70px; margin-top: 30px;}

.logoholder{text-align: center; padding-bottom: 20px;}

.logoholder img {width: 150px;}

@media (max-width: 1196px) {

	.pixiterow p {font-size: 21pt; }	

	.screenshotthumbs img {margin: 10px;}
	.screenshotthumbs img:hover {margin: 5px;}
	
	.blurrybackground h1 {font-size: 1.5em;}
}

@media (max-width: 980px) {

	.blogfirstrow {margin-top: 30px;}

	.firstrow {padding-bottom: 10px; margin-top: 60px;}
	.firstrow p {font-size: 13.8pt; }
	
	p {font-size: 13.8pt; }
	
	h1 {font-size: 18pt; margin-bottom: 10px; }
	
	
	
	.pixiterow p {font-size: 18pt; }
	
	.blurrybackground h1 {font-size: 1.3em;}
	
	.macholder {top: -10px;}
	
	.mac-bezel { margin-top: 50px; width: 320px; height: 195px;}

}

@media (max-width: 767px) { 

	.firstrow {margin-top: 0px; padding-bottom: 20px; margin-top: 20px;}
	
	
	

	.blogfirstrow {margin-top: 20px;}
	
	.dropshadowrow{ height: 50px; background-size: 100% 50px; margin-top: -20px;} 
	.dropshadow-corner {visibility: hidden;}
	
	.logoholder img {width: 110px;}
	
	.post {margin-top: 0px; margin-bottom: 40px;}
	
	ul.topnav {margin: 20px -25px 0px -35px;}
	ul.topnav {text-align: center; float: none;}
	ul.topnav li {display: inline; border-left: solid 1px #ccc; padding: 5px 15px;}
	ul.topnav li:first-child {border: none; }
	
	
	ul.topnav a:after { content: ""; }
	ul.topnav li.active {display: none;}
	
	.single ul.topnav li.active {display: inline;}
	
	.blurrybackground h1 {font-size: 2.0em;}
	
	.macholder {top: 0px; margin-top: 30px; width: 80%;}
	.mac-bezel {margin-top: 0px; width: 450px; height: 274px;}
	
}


/* Bio info styles */

.bio {margin-top: 30px;}

.bio p {font-size: 14pt; padding-right: 15px;}

.bioshotholder {float: left; margin-right: 25px; margin-bottom: 15px; width: 120px;}
.bioshotholder img {width: 120px;
	
	border: 5px solid white;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
	
}

.bio .titleholder { margin-top: 25px; float: left;}
.bio .titleholder h2 {display: block; text-align: left; padding-bottom: 0px; width: 220px; font-size: 22pt;}
.bio p.position {text-transform: uppercase; font-size: 14px; padding-right: 10px; }

@media (max-width: 1196px) {

.bio .titleholder { margin-top: 0px; }

}

/* End Bio info styles */


input, textarea { width: 100%; font-size: 16pt; padding: 10px;}
form { margin: 0px; padding: 0px; margin-right: 20px;}

ul.footernav {list-style-type: none; font-size: 13px; line-height: 18px;}

ul.footernav a {color: #666;}
ul.footernav li {font-family: 'Hoefler Text', 'Adobe Caslon Pro', Georgia, serif; display: inline; border-right: solid 1px #ccc; padding: 5px 15px;}

ul.footernav li:first-child {padding-left: 0px; margin-left: -35px;}

ul.footernav li:last-child {border: none; padding-right: 0px; margin-right: -15px;}

ul.footernav li.active a {color: #333;}

.endmark {text-align: center; margin-top: 40px;}
.endmark img {width: 200px;}

footer {text-align: center; margin-bottom: 60px;}
#content-info {border: none; margin-top: 15px;}

.copy {font-size: 0.6em; margin-top: 20px;}


.download_form {padding: 30px; margin: 0px;}
.download_form input[type="email"] {margin: 15px;}
.download_form .response {font-size: 0.8em;}
.download_form #form-download-info {margin-top: 30px;}


@media (max-width: 480px)
{

	p {font-size: 14pt;}
	
	h1 {font-size: 20pt;}
	h2 {font-size: 20pt;}
	
	.screenshotthumbs img {width: 100px;}
	.screenshotthumbs img:hover {width: 100px; margin: 10px;}
	
	.post li {font-size: 14pt;}
	.appcard { 
	
		border: none; 
		
		-moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -khtml-border-radius: 0px;
	    border-radius: 0px;
	    
	    box-shadow: none;
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    
	    border-bottom: solid #aaa 1px;
	    
	    width: auto;
	    background: none;
	    margin: 0px 10px;
	    
	    padding: 20px 0px;
	    
	    height: auto;
    }
    
    .appcard:hover {
    
    	border: none; 
    
    	-moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -khtml-border-radius: 0px;
	    border-radius: 0px;
	    
	    box-shadow: none;
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    
	    border-bottom: solid #ccc 1px;
    }
    
    #appcardholder a:last-child
    {
    	border: none;
    }
    
    footer#content-info {border-top: none; margin-top: 0px;}
    
    ul {margin-left: 80px;}
    
    ul.footernav {list-style-type: none; text-align: left; margin-top: 5px; float: left; font-size: 13px; line-height: 18px; margin-left: -10px; clear: both;}
    
    ul.footernav li {border: none; display: block;}

	ul.footernav a {color: #666;}
	
	ul.footernav a:after { content: " →"; }
	
	ul.footernav li:first-child {margin: 0px; padding: 5px 15px;}

	ul.footernav li:last-child {margin: 0px; padding: 5px 15px;}
}
